.jumbotron{
    margin-bottom: 0;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #dddddd;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  
footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

.table-responsive {
    background-color: #30475e;
    color: white ;
}
.table{
    color:white;
}

body {
    background-color: #dddddd;
  
  }

.h1{
    font-size: 300px !important;
}